body{
  background-image:url("https://media.giphy.com/media/xT1XGRNZKFIzKqWnsc/giphy.gif");
  background-repeat:repeat;
  display: grid;
  grid-gap: 1em;
}
#circle1{
height: 25px;
width: 25px;
background-color: red;
border-radius: 50%;
position: absolute;
top: 87px;
left: 87px;
}
#circle2{
  height: 25px;
  width: 25px;
  background-color: yellow;
  border-radius: 50%;
  position: absolute;
  left: 57px;
}
#circle3{
  height: 25px;
  width: 25px;
  background-color: green;
  border-radius: 50%;
  position: absolute;
  left: 57px;
}
#rectangle {
  display: flex;
  justify-content: center;
  width: 1100px;
  height: 60px;
  background: grey;
}
#Quotes{
  display: flex;
  justify-content: center;
  background-color: rgb(255,255,255);
  margin: 60px;
  height:300px;
  width:1100px;
  border-style: solid;
  border-width: 2px;
  border-color: grey;
}
#text{
    font-size: 38px;
    margin:80;
}
#rectangle2 {
  display: flex;
  justify-content: right;
  width: 1100px;
  height: 60px;
  background: grey;
}
#Quotes2{
  display: flex;
  justify-content: right;
  background-color: rgb(255,255,255);
  margin: 60px;
  height:300px;
  width:1100px;
  border-style: solid;
  border-width: 2px;
  border-color: grey;
}
#circle4{
height: 25px;
width: 25px;
background-color: red;
border-radius: 50%;
position: absolute;
top: 450px;
left: 87px;
}
#circle5{
  height: 25px;
  width: 25px;
  background-color: yellow;
  border-radius: 50%;
  position: absolute;
  left: 57px;
}
#circle6{
  height: 25px;
  width: 25px;
  background-color: green;
  border-radius: 50%;
  position: absolute;
  left: 57px;
}
