body{
  background-repeat:repeat;
  display: grid;
  grid-gap: 1em;
}
button {
    background-color: transparent;
    display: flex;
    border: none;
    justify-content: space-around;
    margin-top: 60%;
    width:30%;
    font-size: 1vw;
    color:white;
    text-decoration: none;
    left:50%;
 }
#buttons {
  width: 40%;
  height: 2vh;
}
#arrow-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 2%;
}
#left-arrow {

}
#right-arrow {

}
#button1 {
top: 80%;
left: 15%;
display: block;
}

#button2 {
margin-top: 10%;
left: 15%;
display: none;
}

#button3 {
margin-top: 10%;
left: 15%;
display: none;
}

#button4 {
top: 80%;
left: 15%;
display: none;
}

#button5{
margin-top: 10%;
left: 15%;
display: none;
}

#button6 {
margin-top: 10%;
left: 15%;
display: none;
}
.lineThrough{
    text-decoration: line-through;
}
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body{
  padding: 40px;
  background-color: #4268a5;
}

p {
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Source Code Pro', monospace;
  font-size: 28px;
  color: rgba(255,255,255,.70);
}

/* Animation */
p {
  animation: animated-text 2s steps(30,end) 1s 1 normal both;
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 600px;}
}
HTML CSSResult Skip Results Iframe
EDIT ON
/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */
html{
  min-height: 100%;
  overflow: hidden;
}
body{
  height: calc(100vh - 8em);
  padding: 4em;
  color: rgba(255,255,255);
  font-family: 'Anonymous Pro', monospace;
  background-color: rgb(25,25,25);
}
.line-1{
    position: relative;
    top: 50%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 280%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

/* Animation Reference online */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}
.fade-in {
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
